<extend name="Base/common"/>
<block name='bodycont'>
	 <div class="rightcon">
    	<div class="right_con" style="margin-left: 50px;">
        	<table class="usertable">
        		<button id='addUser'>新增</button>
        		<th width="15%">id</th>
        		<th width="15%">用户名</th>
        		<th width="15%">所属组</th>
        		<th width="15%">拥有模块</th>
        		<th width="30%"> 创建时间</th>
        		<th>操作</th>
        		
        		<tr style="text-align: center;">
        			<td>1</td>
        			<td>mowei</td>
        			<td>1</td>
        			<td>1</td>
        			<td>2016-09-18 22:47:10</td>
        			<td><button>删除</button> <button>编辑</button></td>
        		</tr>
        	</table>
        </div>
    </div>
</block>
<block name='myjs'>
	<script>
		$('#addUser').click(function(){
			alert(11111);
		})
	</script>>
</block>